Imports

In [83]:
import yfinance as yf
import numpy as np

Getting Nifty50 data

In [84]:
nifty = yf.Ticker("^NSEI")

In [85]:
data = nifty.history(period="5y")
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-10-25 00:00:00+05:30,11646.150391,11646.900391,11490.750000,11583.900391,812000,0.0,0.0
2019-10-29 00:00:00+05:30,11643.950195,11809.400391,11627.349609,11786.849609,951700,0.0,0.0
2019-10-30 00:00:00+05:30,11883.900391,11883.950195,11784.450195,11844.099609,725200,0.0,0.0
2019-10-31 00:00:00+05:30,11890.450195,11945.000000,11855.099609,11877.450195,1414800,0.0,0.0
2019-11-01 00:00:00+05:30,11886.599609,11918.299805,11843.349609,11890.599609,855300,0.0,0.0
...,...,...,...,...,...,...,...
2024-10-21 00:00:00+05:30,24956.150391,24978.300781,24679.599609,24781.099609,242000,0.0,0.0
2024-10-22 00:00:00+05:30,24798.650391,24882.000000,24445.800781,24472.099609,279500,0.0,0.0
2024-10-23 00:00:00+05:30,24378.150391,24604.250000,24378.099609,24435.500000,284600,0.0,0.0
2024-10-24 00:00:00+05:30,24412.699219,24480.650391,24341.199219,24399.400391,216700,0.0,0.0
2024-10-25 00:00:00+05:30,24418.050781,24440.250000,24207.650391,24218.849609,0,0.0,0.0

In [86]:
data.drop(columns=["Dividends","Stock Splits","Volume","High","Open","Low"],axis=1, inplace=True)
data

                                  Close
Date
2019-10-25 00:00:00+05:30  11583.900391
2019-10-29 00:00:00+05:30  11786.849609
2019-10-30 00:00:00+05:30  11844.099609
2019-10-31 00:00:00+05:30  11877.450195
2019-11-01 00:00:00+05:30  11890.599609
...                                 ...
2024-10-21 00:00:00+05:30  24781.099609
2024-10-22 00:00:00+05:30  24472.099609
2024-10-23 00:00:00+05:30  24435.500000
2024-10-24 00:00:00+05:30  24399.400391
2024-10-25 00:00:00+05:30  24218.849609

[1238 rows x 1 columns]

In [87]:
prices = data["Close"].to_numpy()
prices

array([11583.90039062, 11786.84960938, 11844.09960938, ...,
       24435.5       , 24399.40039062, 24218.84960938])

In [88]:
no_of_days = len(prices)
no_of_days

1238

Train-test split

In [89]:
from sklearn.model_selection import train_test_split

In [90]:
x = range(1,no_of_days+1)
x = np.array(x)
x = x.reshape(-1,1)

In [91]:
X_train, X_test, y_train, y_test = train_test_split(x, prices, test_size=0.25, random_state=42)

Creating Model

In [92]:
from sklearn.metrics import mean_absolute_error

In [105]:
def helper(model, X_train, y_train):
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = mean_absolute_error(y_pred, y_test)
    print(f"Accuracy: {accuracy}")
    return model

Gradient Boosting Regression

In [93]:
from sklearn.ensemble import GradientBoostingRegressor

In [121]:
gradient_boosting_regressor = helper(GradientBoostingRegressor(), X_train, y_train)

Accuracy: 168.3688828554234

Elastic Net Regression

In [123]:
from sklearn.linear_model import ElasticNet

In [124]:
elastic_net = helper(ElasticNet(), X_train, y_train)

Accuracy: 1080.2188641960165

Stochastic Gradient Descent Regression

In [125]:
from sklearn.linear_model import SGDRegressor

In [126]:
stochastic_descent_regression = helper(SGDRegressor(), X_train, y_train)

Accuracy: 32963133124698.348

Support Vector Machine

In [127]:
from sklearn.svm import SVR

In [128]:
support_vector_machine = helper(SVR(),X_train, y_train)

Accuracy: 3000.367296609027

Bayesian Ridge Regression

In [129]:
from sklearn.linear_model import BayesianRidge

In [130]:
Baysein_Ridge = helper(BayesianRidge(), X_train, y_train)

Accuracy: 1080.1782665386995

Kernel Ridge Regression

In [131]:
from sklearn.kernel_ridge import KernelRidge

In [132]:
kernel_ridge = helper(KernelRidge(), X_train, y_train)

Accuracy: 4504.298257783728

Linear Regression

In [133]:
from sklearn.linear_model import LinearRegression

In [134]:
linear_regression = helper(LinearRegression(), X_train, y_train)

Accuracy: 1080.2203543840596

Random Forest Regressor

In [136]:
from sklearn.ensemble import RandomForestRegressor

In [137]:
random_forest = helper(RandomForestRegressor(), X_train, y_train)

Accuracy: 100.39657973160278